.menu {
    z-index: 2;
    background-color: #212529;
    height: 80px;
    max-height: 80px;
    position: fixed;
    width: 105%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.menu img {
    width: 80px;
}

.textmenu {
    margin-top: auto;
    margin-bottom: auto;
}